[core]
	excludesfile = ~/.gitignore_global
	pager = git-split-diffs --color | less -+LFX
[user]
	name = Aliaksei Niamkovich
	email = aliaksei.niamkovich@gmail.com
	signingkey = 38A2224602C7D6F10667D0F5C21EC1E7FC882DBD
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[split-diffs]
	wrap-lines = false
	theme-name = arctic
